@use "src/app";

form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 50%;

  .search-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-radius: app.$radius;
    overflow: hidden;
    margin: .5rem 0;
    width: min-content;
    margin: .5rem;

    select {
      box-sizing: border-box;
      height: 2rem;
      border: 0;
      background-color: #242836;
      color: #eeeeee;
      text-align: center;
    }

    input {
      box-sizing: border-box;
      height: 2rem;
      border: 0;
      padding: 0rem .5rem;
      background-color: #182030;
      color: #eeeeee;
      min-width: 16rem;
    }

    button {
      box-sizing: border-box;
      height: 2rem;
      border: 0;
      padding: .5rem 1rem;
      background-color: #242836;
      color: #eeeeee;

      &:hover {
        background-color: #283040;
      }
    }
  }

  .request-body {
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    max-width: 100%;
    margin: .5rem;
    display: flex;

    label {
      font-size: .9rem;
    }

    textarea {
      box-sizing: border-box;
      background-color: #242836;
      border: 0;
      color: #eeeeee;
      border-radius: app.$radius;
      resize: none;
      max-width: 100%;

      &:active {
        border: none;
      }
    }

  }


}