@use 'src/app';

header {
    box-sizing: border-box;
    background: darken(app.$backgroundColor, 08);
    border-bottom: 1px solid #121212;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;

    h1 {
        margin: 0;
        padding: 0 1rem;
        font-size: 1.2rem;
    }
}