@use 'src/app';

footer {
    background: darken(app.$backgroundColor, 08);
    box-sizing: border-box;
    border-top: 1px solid #121212;
    padding: 1em 3em;
    margin-top: auto;
    height: 8vh;
    width: 100vw;
    text-align: center;
}